dialog {
    background-color: rgb(235, 233, 230);
    
    border-radius: .5rem;
    width: 50%;
}

.dialogo {
    background-color: rgb(242, 246, 248);
    max-width: 800px;
    border-radius: .5rem;
    width: 70%;
}

.dialogoLogin{
    background-color: rgb(242, 246, 248);
    max-width: 300px;
    border-radius: .5rem;
    width: 50%;
}

.dialogoAlert{
    background-color: #4fabf7;
    max-width: 400px;
    border-radius: .5rem;
    width: 50%;
    /*position: relative;*/
}

.dialogoInfo{
    background-color: #4fabf7;
    max-width: 550px;
    border-radius: .5rem;
    width: 50%;
}