<!DOCTYPE html>
<html>
<head>
	
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/pageStyle.css">
    <link rel="stylesheet" href="/static/dialogPageStyle.css">

    
    <script src="/static/haversine.js"></script>
    <script src="/static/getMinMax.js"></script>
    <script src="/static/gridCalc.js"></script>
    <script src="/static/pointInPolygon.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="/static/windRosePlot.js"></script>

   
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>

<style>
div.space {
  line-height: 1.6;
}
div.space05 {
  line-height: 0.5;
}

</style>
</head>
<body>

<dialog id="aboutPage">
    <h2>About this Site</h2>
    <p>The purpose of this website is to provide a tool to develop algorithms
         to detect anomalous behaviors in the marine traffic.</p>

    <p>Through a visual interface the user can plot an Area of Interest (AOI) and save it for further loading. 
        After that, it is possible to generate a grid of cells to map this AOI in order to analyze vessels trajectories
        from recorded data through Automatic Information System (AIS) transmissions. </p>

    <p>Instructions for the usage of this aplication can be found in the Help menu.</p>

    <p>The source code is available to be download at XXXXX.</p>

    <p>The site was developed and designed by Claudio V. Ribeiro as part of studies in his P.H.D. course.</p>

    <button onclick="fechaAboutPage();" style="display:block; margin: 0 auto; background-color: rgb(141, 163, 236);">Close</button>
</dialog>

<dialog class="dialogoLogin" id="loginPage">
  <div style="text-align: center;">
    <h2>Expert Identity</h2>
  </div>
  Name:<br> 
  <input type="text" id="inputTxtName" name="loginName" /><br><br>
      
  Password:<br>
  <input type="text" id="inputTxtPassword" name="password" disabled /><br><br>
  
  <button onclick="fechaLoginPage();" style="display:block; margin: 0 auto; background-color: rgb(141, 163, 236);">Login</button>
</dialog>

<dialog class="dialogo"    id="instructionsPage">
  <h2>USER INSTRUCTIONS</h2>
  <b>=== Navigation Menu ===</b><br><br>
  
  <img src="/static/navBar.gif">
  
  <p><span style="color: rgb(255, 255, 255);  background-color: black;">Map Set View</span><br>
  Selection of a zoom area to center the map
  </p>
  <span style="color: rgb(255, 255, 255);  background-color: black;">Area of Interest</span><br>
  - Load: a storaged build area will be loaded from a file (CSV format) <br>
  - Create: Build an area through the connection of location marks in the order of locations created <br>
  - Save: All the location markers will be saved in a CSV file (latlongAOI.csv) in the order of locations created.
  </p>
  <p>
    <span style="color: rgb(255, 255, 255);  background-color: black;">Grid Cell Size</span><br>
   Allow the selection of the Grid Cell Size in meters. The default value is 2000. 
  </p>

  <p><span style="color: rgb(255, 255, 255);  background-color: black;">Grid Creation</span><br>
    A Grid of Cells is built from the AOI and the selected Cell Size.</p>

  <p><span style="color: rgb(255, 255, 255);  background-color: black;">AIS Data</span><br>
      AIS data processing from a CSV file format and trajectory classification functionalities.</p>
  
  <p><span style="color: rgb(255, 255, 255);  background-color: black;">Help</span><br>
  - Instructions: To aid the user with the operation of the Vessel Trajectory Classifier Tool <br>
  - About: To present information of the development description
  </p>

  <p><b>Note:</b> The action of page refresh in the browser will perform a new start of the aplication and <br>
    all the previous interactions will be lost (e.g. location marks/polygons creation).
  </p>
  <b>======== MAP ========</b>
  <p>A set of actions are available through mouse events over the map presented:</p>
  <p>
  - Mouse click: create a new location marker<br><br>
  - Mouse double click: Over an existing location marker, the location will be excluded if it was <br>
  the last one created<br><br>
  - Mouse dragging: move the map to a new position<br><br>
  - Mouse Scrolling: up -> zoom in; down -> zoom out.
  </p>

   <button onclick="fechaInstructions();" style="display:block; margin: 0 auto; background-color: rgb(141, 163, 236);">Close</button>
</dialog>

<div class="header">
  <h1>Vessel Trajectory Classifier Toll</h1>
</div>

<!---------------------------------------- MENU----------------------------------->

<div class="topnav" id="myTopnav">
  <div class="subnav">
    <button class="subnavbtn">Map Set View <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#" onclick="centralizarMapa(3);">Africa West Coast</a>
      <a href="#" onclick="centralizarMapa(4);">Australia West Coast</a>
      <a href="#" onclick="centralizarMapa(1);">Brazil Coast</a>
      <a href="#" onclick="centralizarMapa(5);">Europe</a>
      <a href="#" onclick="centralizarMapa(2);">USA East Coast</a>

    </div>
  </div> 	
  <div class="subnav">
    <button class="subnavbtn">Area of Interest <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
    <!----  <a href="#" onclick="excluirUltPonto();">Remove Last Marker</a>-->
      <a href="#" onclick="removeArea();" id="removeArea">Remove </a>
      <a href="#" onclick="loadArea();" id="loadAOI">Load </a>
      <a href="#" onclick="gerarPoligono();" id="geraAOI">Create </a>
      <a href="#" onclick="download_csv_file();">Save </a>
    </div>
  </div>
    
  <div class="subnav">
    <button class="subnavbtn">Grid Cell Size <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#" onclick="setSizeCell(100);">100 </a>
      <a href="#" onclick="setSizeCell(200);">200 </a>
      <a href="#" onclick="setSizeCell(300);">300 </a>
      <a href="#" onclick="setSizeCell(500);">500 </a>
      <a href="#" onclick="setSizeCell(1000);">1000 </a>
      <a href="#" onclick="setSizeCell(2000);">*2000 </a>
      <a href="#" onclick="setSizeCell(5000);">5000 </a>
    </div>
  </div>

  <div class="subnav">
    <button class="subnavbtn" onclick="gridCreation();">Grid Creation </button>
  </div>

  <div class="subnav">
    <button class="subnavbtn">Trajectory Data <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#" onclick="createCompiledFile();">Create File</a>
      <a href="#" onclick="loadCompiledFile();" id="loadCompiledFile">Load File</a>
      <a href="#" onclick="downloadClassificationFile();" id="downloadClassification">Download Classifications</a>
    </div>
  </div>


  <div class="subnav">
    <button class="subnavbtn">Help <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#" onclick="exibeInstructions();">Instructions</a>
      <a href="#" onclick="exibeAboutPage();" id="showAboutPage">About</a>
    </div>
  </div>
</div>
<!---------------------------------  PANELS -------------------------------------->
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h3>MAP</h3>
      <div id="mapa" style="width: 100.0%; height: 670px;"></div>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card" id="cardSuperior" style="width: 100.0%; height:275px;">
      
      <div id="aisData">
        <fieldset id="aisDataPanel" class="visible">
          <legend>Trajectory Data Processing</legend>
              <!--<div class="space"> -->
              <div>    
                <button type="button" id="btnSelectAIS_File" disabled onclick="selectAIS_File();">AIS File</button>
                <input type="text" id="inputTxtFileName" name="Name" disabled/>
                <button id="btnPlot" onclick="aisPlotFile();" disabled>Plot</button>
                <button id="btnCompileAndSave" onclick="compileAndSaveFile();" disabled>Save Dataset</button>
                <br>
              </div>
               
              <!--</div> -->
        </fieldset>
      </div> 

      <div id="trajectory">
        <fieldset id="trajectoryPanel" class="visible">
              <legend>Trajectory Analysis</legend>
                  <div class="space">
                    <button type="button" id="btnLoadDatasets_File" onclick="selectDatasetFile();">Select Dataset </button>
                    <input type="text" id="inputDataSetsFileName" name="datasetsName" disabled/>
                    <button id="btnLoadDataset" onclick="loadDatasetFile();" disabled>Load</button>
                    <br>
                    <label for="clustering">Clustering:</label>
                    <select id="clustering" disabled>
                        <option value="none - density plots">None (Density plots only)</option>
                        <option value="DBSCAN lat-long">DBSCAN (Lat, Long)</option>
                        <option value="DBSCAN lat-long-speed">DBSCAN (Lat, Long, Speed)</option>
                        <option value="other">other</option>
                    </select>    
                    <button type="button" id="btnApply" onclick="applyClustering();" disabled>Apply </button>
                    <br>
                    <label for="listBoxTrajectories">Trajectory:</label>
                    <select id="listBoxTrajectories" disabled>
                        <!--<option value="0" selected>Select</option> 
                        <option value="traj1">traj1</option>
                        <option value="traj2">traj2</option>
                        <option value="traj3">traj3</option> -->
                    </select>&nbsp;&nbsp;
                    <!--                  
                    <label for="listBoxVesselSelect">Vessel:</label>
                    <select id="listBoxVesselSelect" disabled>
                        <option value="0" selected>Select</option>
                        <option value="1">Loyd</option>
                        <option value="2">P12</option>
                        <option value="3">Barca Rio-Niteroi</option>
                    </select>&nbsp;
                    -->
                    <button type="button" id="btnShow" onclick="showTrajectory();" disabled>Show </button>
                  </div> 
                  <div class="space05">
                    <br>
                  </div>  
            <!-- alt-->
            <div class="row">
              <div class="leftPanel">
                <fieldset id="classificationPanel" style="width:265px" disabled class="visible">
                  <legend>Classification</legend>     
                          <input type="radio" id="btnSelectNormal" name="btnRadioNormal" value="normal" checked />
                          <label for="btnSelectNormal">Normal</label>
                  
                          <input type="radio" id="btnSelectAnomalous" name="btnRadioNormal" value="anomalous" />
                          <label for="btnSelectAnomalous">Anomalous</label> &nbsp; &nbsp;
                          <br>
                          <label for="confidence">Confidence:</label>
                          <select id="confidence">
                              <option value="very low" >Very low</option>
                              <option value="low"      >Low</option>
                              <option value="medium"   >Medium</option>
                              <option value="high"     >High</option>
                              <option value="very high">Very high</option>
                          </select>&nbsp; &nbsp;
                          <button id="btnSaveClassif"  onclick="btnClassifAnomaly();">Save</button>
                          
                </fieldset>
              </div>
              <div class="rightPanel">
                <br><br>
                <button type="button" id="btnFinish" onclick="finishTrajectoryAnalysis();" style="background-color: rgb(141, 163, 236);"disabled>Finish</button>
              </div>
            </div>  
        </fieldset>  
      </div>  
      
    </div>

    <div class="card" id="cardInferior" >
      <div id="aisPlotPanel" style="width: 100.0%; height:445px;" class="visible">
      </div>
      
      <div id="AISpointGridPanel" class="not-visible"> 
        <fieldset id="AISpointPanel">
          <legend>AIS Selected Point from Trajectory</legend>
              Course: 
              <input type="text" id="inputTxtCourse" name="Course" size="6" disabled/>
              Speed: 
              <input type="text" id="inputTxtSpeed" name="Speed" size="4" disabled/>
              <button id="btnPrevious" onclick="btnPrevious()" disabled>Previous</button>
              <button id="btnNext" onclick="btnNext()" disabled>Next</button>
              <br>
        </fieldset>
      </div>
      
      <div id="windRosePanel" class="not-visible">
        <div class="row">
          <div class="leftSubColumn">
            <div id="vesselsSpeed" style="width: 100.0%; height:395px;">
            </div>
          </div>
          <div class="rightSubColumn"> 

                
                <div style="text-align: left;">
                  <font size="-1">
                    <span style="color: black;  background-color: black;">X</span> 0-2<br>
                    <span style="color: gray;   background-color: gray;">X</span> 2-6<br>
                    <span style="color: blue;   background-color: blue;">X</span> 6-9<br>
                    <span style="color: green;  background-color: green;">X</span> 9-12<br>
                    <span style="color: yellow; background-color: yellow;">X</span> 12-15<br>
                    <span style="color: orange; background-color: orange;">X</span> 15-20<br>
                    <span style="color: red;    background-color: red;">X</span> 20+ <br>
                  </font> 
                </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <p>&copy; 2022 - Claudio V. Ribeiro</p>
</div>

<!------------------------  SCRIPT ---------------------------------------->

<script>
  var latInfGrid, latSupGrid, lonInfGrid, lonSupGrid, latMedGrid;
  var expertID;
  var expertPassword;
  var expertFileName;
  var polygon_CSV
  //const modal = document.querySelector("dialog");  //funciona
  const modalAbout = document.getElementById("aboutPage");
  const modalLogin = document.getElementById("loginPage"); // novo 18fev
  const modalInstructions = document.getElementById("instructionsPage");

  console.log("distancia = ", getDistanceFromLatLng(30, -90, 31, -90));
  cellSize = 2000 ; //valor default
  var vertA_Cel, vertB_Cel, vertC_Cel, vertD_Cel;
  var vertices;
  //var new_mark;
  var qtdeCel_X, qtdeCel_Y, larguraCelula, alturaCelula;
  var polygon;
  var flagPolygon = false;
  var flagGridCreation = false; // novo
  let pontos = [[0.0,0.0][0.0,0.0]]    
	
	pontos.pop()
  //document.getElementById("geraAOI").disabled = true;
  	
	var mapa = L.map('mapa').setView([-14,-38], 4);
  L.control.scale().addTo(mapa);

	var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(mapa);

  var mapaAIS = L.map('aisPlotPanel').setView([-14,-38], 4);
  L.control.scale().addTo(mapaAIS);

	var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(mapaAIS);

  var markersLayerGroup = new L.LayerGroup(); 
  markersLayerGroup.addTo(mapa); 

  var cellsLayerGroup = new L.LayerGroup(); 
  cellsLayerGroup.addTo(mapa); 

  var trajectoryLayerGroup = new L.LayerGroup(); // novo 26fev
  trajectoryLayerGroup.addTo(mapa); //novo 26fev
  var displayedPointsLayerGroup = new L.LayerGroup(); // novo 26fev
  displayedPointsLayerGroup.addTo(mapa); //novo 26fev

  var pathFileAISdata = ""; 
  var pathDatasetFile = ""; 
  var aisAOI_ArrayFiltered = []; 
  var trajectoryPointIndex = 0;
  let trajetoriaArray = [];
  var totalTraj = 0;
  var aisAOI_trajSelected = [];

  exibeAboutPage();
  

    //////////////////////////////////// FUNCTIONS ////////////////////////////////

  function newMarker(e){
    //var new_mark = L.marker().setLatLng(e.latlng).addTo(mapa);
    var new_mark;
    //new_mark = L.marker().setLatLng(e.latlng).addTo(mapa);
    new_mark = new L.marker().setLatLng(e.latlng).addTo(mapa);
    new_mark.addTo(markersLayerGroup); //novo
    mapa.addLayer(markersLayerGroup); //novo

    new_mark.dragging.disable();//enable
    new_mark.on('dblclick', function(e){ 
    //  console.log(e.target);
        var latUltPonto = pontos[pontos.length - 1][0];
        var lonUltPonto = pontos[pontos.length - 1][1]; 
        console.log(latUltPonto,lonUltPonto);
        if ((latUltPonto == e.latlng.lat.toFixed(5)) && (lonUltPonto == e.latlng.lng.toFixed(5))){
          mapa.removeLayer(new_mark);//(e.target);
          pontos.pop();
          
          //gerarPoligono(); //novo
        };
    })
    var lat = e.latlng.lat.toFixed(5), lng = e.latlng.lng.toFixed(5);
    new_mark.bindPopup("Latitude: " + lat + "</br>" + "Longitude: "+ lng);
		console.log(lat, lng);
		pontos.push([lat, lng]);
		//console.table(pontos);
		new_mark.on('dragend', function(e) {  //precisa habilitar o dragging
		       new_mark.bindPopup("Latitude: " + lat + "</br>"+ "Longitude: "+ lng) // 
        });

		//valida conteudo do input 
    if (pontos.length > 2) {
          //habilita o botão
          //  document.getElementById("geraAOI").disabled = false;
          //  document.getElementById("salvaCoordAOI").disabled = false;
    } else {
              //desabilita o botão se o conteúdo do input ficar em branco
          //  document.getElementById("geraAOI").disabled = true;
          //  document.getElementById("salvaCoordAOI").disabled = false;
    };
	};
  mapa.on('click', newMarker);	    	

	function gerarPoligono(){
		if (pontos.length > 2) {
      if (flagPolygon == true){
        mapa.removeLayer(polygon);
        flagPolygon = false;
      };
      polygon = L.polygon(pontos, {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", 			"noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
              ).addTo(mapa);
          console.table(pontos);
      mapa.removeLayer(markersLayerGroup); //novo
      flagPolygon = true;
    }
    else {
      if (flagPolygon == true){
        mapa.removeLayer(polygon);
        flagPolygon = false;
      };
      alert("To create a polygon it would have at least three locations in the map.")
    };  
  }
		
	function centralizarMapa(local){
    //var latCentral = document.getElementById("LatitudeCentral").value;
		//var lonCentral = document.getElementById("LongitudeCentral").value;
    var localZoom = local;
    if (localZoom == 1){
      mapa.setView([-14, -38], 4);
    }
    if (localZoom == 2){
      mapa.setView([39, -73], 4);
    }
		if (localZoom == 3){
      mapa.setView([3, 5], 4);
    }
    if (localZoom == 4){
      mapa.setView([-24, 112], 4);
    }
    if (localZoom == 5){
      mapa.setView([45, 0], 4);
    }
  };
  function removeArea(){
    if (flagPolygon == true){
      mapa.removeLayer(markersLayerGroup); //novo
      markersLayerGroup.clearLayers();// novo 24jan
      while (pontos.length) { //remove all the elements inside the array
        pontos.pop(); 
      }
      mapa.removeLayer(polygon);
      mapa.removeLayer(polylinha); //TESTE
      flagPolygon = false;
      
      if (flagGridCreation == true){
          mapa.removeLayer(cellsLayerGroup);
          cellsLayerGroup.clearLayers(); //recente
          flagGridCreation = false;
      }
    } else {
      alert("There is no area to be removed.")
    }
  }
    
  function loadArea(){
    $.ajax({
            url: "{{ url_for('loadFileAOI') }}",
            type: "GET",
            dataType: 'json',
            success: plotLoadedArea,
            error: function(){
              alert("erro execução loadFileAOI no Back-end");
            }
            
        });
  }
  function plotLoadedArea(locations){
    //pontos = locations;
    if (flagPolygon == true){
      removeArea();//TESTE 24JAN
    }
    pontos = JSON.parse(locations);
    ///teste 23 fev /////
    var csv = 'LAT,LONG\n';  
          
        //merge the data with CSV  
        pontos.forEach(function(row) {  
                csv += row.join(',');  
                csv += "\n";  
        });  
        polygon_CSV = csv;


    //////////////////
    const [latInfAOI, latSupAOI, lonInfAOI, lonSupAOI, latMedAOI] = findMinMax(pontos);
    gerarPoligono();
    mapa.setView([latMedAOI, (lonInfAOI + lonSupAOI)/2], 8);
  }
    //create a user-defined function to download CSV file   
  function download_csv_file() {  
        
    if (pontos.length > 2) {
        //define the heading for each row of the data  
        var csv = 'LAT,LONG\n';  
          
        //merge the data with CSV  
        pontos.forEach(function(row) {  
                csv += row.join(',');  
                csv += "\n";  
        });  
        polygon_CSV = csv;
        //display the created CSV data on the web browser
        //document.write(csv);  
        var hiddenElement = document.createElement('a');  
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);  
        hiddenElement.target = '_blank';  
          
        //provide the name for the CSV file to be downloaded  
        hiddenElement.download = 'LatLongAOI.csv';  
        hiddenElement.click(); 
        // novo 04out  - limpa polígono
    } else {alert("It would have at least three locations in the map to save these.")}; 

  }
  function excluirUltPonto(){
      //  console.log(e.target);
      var latUltPonto = pontos[pontos.length - 1][0];
      var lonUltPonto = pontos[pontos.length - 1][1]; 
      console.log(latUltPonto,lonUltPonto);
      //if ((latUltPonto == e.latlng.lat.toFixed(5)) && (lonUltPonto == e.latlng.lng.toFixed(5))){
       //       mapa.removeLayer(e.target);
          //    pontos.pop();
      //};
      //mapa.removeLayer(polygon);
  }
  function setSizeCell(size){
    cellSize = size;
    console.log("cell size = ", cellSize);
  }  
  function gridCreation(){
    if (flagPolygon == true){
        const [latInfAOI, latSupAOI, lonInfAOI, lonSupAOI, latMedAOI] = findMinMax(pontos);
        latInfGrid = latInfAOI; //, latSupAOI, lonInfAOI, lonSupAOI, latMedAOI = findMinMax(pontos);
        latSupGrid = latSupAOI;
        lonInfGrid = lonInfAOI;
        lonSupGrid = lonSupAOI;
        console.log("clique possível no botao grid Creation");
        console.log("AOI pontos = ", latInfAOI, latSupAOI, lonInfAOI, lonSupAOI, latMedAOI);
        var pontoA = [latInfAOI, lonInfAOI];
        var pontoB = [latSupAOI, lonInfAOI];
        var pontoC = [latSupAOI, lonSupAOI];
        var pontoD = [latInfAOI, lonSupAOI];
        var coordGrid = [pontoA, pontoB, pontoC, pontoD, pontoA];

        if (flagGridCreation == true){
          mapa.removeLayer(markersLayerGroup); //novo
          mapa.removeLayer(cellsLayerGroup);
          cellsLayerGroup.clearLayers(); //recente
          mapa.removeLayer(polylinha); // novo 24jan 23h
          flagGridCreation = false;
        }
        
        exibirAreaLimGrid(coordGrid);
        //calculaGridParametros(31.5083, 32.39377708333334, 32.7862, -80.9059, -79.0851, 5000);
        [qtdeCel_X, qtdeCel_Y, larguraCelula, alturaCelula] = calculaGridParametros(latInfAOI, latMedAOI, latSupAOI, lonInfAOI, lonSupAOI, cellSize);
        for (var j = 0; j < qtdeCel_Y; j++) {
          for (var k = 0; k < qtdeCel_X; k++) {   
              
            vertA_Cel = [parseFloat(latInfAOI + j * alturaCelula)      ,parseFloat(lonInfAOI + k * larguraCelula)];
            vertB_Cel = [parseFloat(latInfAOI + (j + 1) * alturaCelula),parseFloat(lonInfAOI + k * larguraCelula)];
            vertC_Cel = [parseFloat(latInfAOI + (j + 1) * alturaCelula),parseFloat(lonInfAOI + (k + 1)* larguraCelula)];
            vertD_Cel = [parseFloat(latInfAOI + j * alturaCelula)      ,parseFloat(lonInfAOI + (k + 1)* larguraCelula)];
            vertices  = [vertA_Cel, vertB_Cel, vertC_Cel, vertD_Cel];
            if (isPointInPolygon(vertA_Cel[0],vertA_Cel[1], pontos) ||
                isPointInPolygon(vertB_Cel[0],vertB_Cel[1], pontos) ||
                isPointInPolygon(vertC_Cel[0],vertC_Cel[1], pontos) ||
                isPointInPolygon(vertD_Cel[0],vertD_Cel[1], pontos)){
              //polygonCell = L.polygon(vertices, {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", 			"noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
              //).addTo(mapa);
              polygonCell = L.polygon(vertices, {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", 			"noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
              ).addTo(cellsLayerGroup);
            }
            else {
              //polygonCell = L.polygon(vertices, {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", 			"noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
              //).addTo(mapa);
              polygonCell = L.polygon(vertices, {"bubblingMouseEvents": true, "color": "gray", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", 			"noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
              ).addTo(cellsLayerGroup);
            }
          }  
        }   
        //polygonCell.addTo(cellsLayerGroup); //novo
        mapa.addLayer(cellsLayerGroup); //novo
       // console.log("ponto dentro ? ",polygon.contains(10,10));//parseFloat(latInfAOI) + 0.2, parseFloat(lonInfAOI) + 0.2));
        flagGridCreation = true;
        
        //var btn = $("#btnSelectAIS_File");
        //var btn = document.getElementById("btnSelectAIS_File");// novo 28jan
        //btn.disabled = false; // novo 28jan

    } else {alert("To create a Grid it would have an Area of Interest.")};
  }  
  function exibirAreaLimGrid(pontosGrid){
       
    polylinha = L.polyline(pontosGrid, {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", 			"noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
                    ).addTo(mapa);
  }
  function createCompiledFile(){
    var btn = document.getElementById("btnSelectAIS_File");
    btn.disabled = false;
  }

  function btnClassifAnomaly(){
    //console.log("Retorno do flask = ", {{ ulat }});
    saveClassificationFile();
    
  }
  
  function performPost() {
        $.ajax({
            type: "POST",
            url: "{{ url_for('create_file') }}",
            data: {"name" : "Jim"},
        })
    }

  function exibeAboutPage(){
    
    modalAbout.showModal()
  }
  function fechaAboutPage(){
    modalAbout.close()
    exibeLoginPage();
  }

  function exibeLoginPage(){
    modalLogin.showModal();
  }
  function fechaLoginPage(){
    
    expertID = document.getElementById("inputTxtName").value;
    expertPassword = document.getElementById("inputTxtPassword").value;
    var dado = JSON.stringify(expertID);
    //var dado = JSON.parse(expertID);
    console.log("nome do expert = ", expertID);
    $.ajax({
            url: "{{ url_for('checkLoginName') }}",
            type: "POST",
            dataType: 'json',
            contentType: 'application/json',
            data: dado,
            success: validaLogin,
            error: function(){
              alert("erro execução login no Back-end");
            }
        });
  }
  function validaLogin(retorno){

    expertFileName = retorno;
    console.log("depois do ajax - expertFileName = ", expertFileName);
    //var comp = expertFileName.localeCompare(str);
    if (expertFileName == 'none') {
      console.log("valor none");
      alert("The name, password or both are unknown. Please try again.");
    } else {
      modalLogin.close();
    }
    //loadExpertFile();
    
  }
  function loadExpertFile(){
    $.ajax({
            url: "{{ url_for('loadExpertFile') }}",
            type: "GET",
            dataType: 'json',
            success: function(retorno){ 
              alert("Arquivo de classificação carregado");
            },
            error: function(){
              alert("error execution loadExpertFile no back-end");
            }
    });
  }

  function saveClassificationFile(){

    const d = new Date();
    let strDate = d.toLocaleDateString();
    let strTime = d.toLocaleTimeString();
    
    var typeTraj = ""
    var trajetoria = document.getElementById("listBoxTrajectories").value;
    var clustering = document.getElementById("clustering").value;
    
    var confidence = document.getElementById("confidence").value;
    var normalState  = document.getElementById("btnSelectNormal");
    if (normalState.checked){
        typeTraj = "normal"
    } else {
        typeTraj = "anomalous"
    }

    var dados = JSON.stringify([trajetoria, clustering, typeTraj, confidence,strDate,strTime]);
    console.log("dados do post saveClassification = ", dados);
    
    $.ajax({
            url: "{{ url_for('saveClassification') }}",
            type: "POST",
            dataType: 'json',
            contentType: 'application/json',
            data: dados,
            success: function(retorno){ 
              alert("Arquivo de classificação salvo");
            },
            error: function(){
              alert("error execution saveClassification no back-end");
            }
    });
  
  }


  function exibeInstructions(){
    modalInstructions.showModal()
  }
  function fechaInstructions(){
    modalInstructions.close()
  }
  function selectAIS_File(){
    $.ajax({
            url: "{{ url_for('selectAIS_File') }}",
            type: "GET",
            dataType: 'json',
            success: openFileAIS,
            error: function(){
              alert("error execution selection AIS File");
            }
    });
  }

  function openFileAIS(retorno){
    //alert("funcionou o get");
    console.log(retorno);
    //ret = JSON.parse(retorno);
    
    var textField = $('#inputTxtFileName');
    textField.disabled = false;
    textField.val(retorno);
    pathFileAISdata = retorno; // novo
    var btn = document.getElementById("btnPlot");
    btn.disabled = false;
  }
 
  function AISplotPanel(){
    //var dados = JSON.stringify({llon : -75.7, ulon : -74.8, llat : 38.6, ulat : 39.6});
    var dados = JSON.stringify([latInfGrid, latSupGrid, lonInfGrid, lonSupGrid, pathFileAISdata, polygon_CSV]);
    console.log("front variável dados = ", dados);
    $.ajax({
      url: "{{ url_for('openFileAndFilterAOI') }}",
      type: "POST",
      dataType: 'json',
      contentType: 'application/json',
      //data: {llon : -75.7, ulon : -74.8, llat : 38.6, ulat : 39.6},
      //data: {"llon" : lonInfAOI, "ulon" : lonSupAOI, "llat" : latInfAOI, "ulat" : latInfAOI},
      data: dados,
      success: plotAisDataPanel,
      error: function(){
        alert("erro execução Post para Open File");
      }
    });
  }

  function plotAisDataPanel(retorno){
    //alert("funcionou o post do AIS data Panel");
    console.log(retorno);
    ret = JSON.parse(retorno[0]); // alterado 25fev
    totalTraj = JSON.parse(retorno[1]); // novo 25fev
    console.log("total de traj = ", totalTraj);
    var len = ret.length;
    
    if (len > 0){
      mapa.removeLayer(markersLayerGroup); //novo
      //mapa.removeLayer(new_mark); //novo
      mapa.removeLayer(cellsLayerGroup);
      
      flagGridCreation = false;
      
      for (var i = 0; i < len; i++) {
        //if (isPointInPolygon(ret[i][2], ret[i][3], pontos)){ // function already done in the back-end
          aisAOI_ArrayFiltered.push(ret[i]);

          var circle = L.circle([ret[i][2], ret[i][3]], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 30
          }).addTo(mapaAIS);
        //}
      }  
      //var btn = document.getElementById("clustering");
     // btn.disabled = false;
      
     // btn = document.getElementById("btnApply");
     // btn.disabled = false;
      alert("The plotting processing has been done.");  
    } else {
      alert("arquivo selecionado não possui dados de AIS no Grid/AOI selecionada");
    } 
    console.log("tamanho aisAOI_Array = ", aisAOI_ArrayFiltered.length);
    console.log(aisAOI_ArrayFiltered);
  }

  function aisPlotFile(){
    alert("This action may be extended for one or more minutes after closing this message. At the end another message will inform the status.");  
    $("#windRosePanel").removeClass("visible");
    $("#windRosePanel").addClass("not-visible");
    $("#aisPlotPanel").removeClass("not-visible");
    $("#aisPlotPanel").addClass("visible");

    polygon = L.polygon(pontos, {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", 			"noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
                    ).addTo(mapaAIS);
                    const [latInfAOI, latSupAOI, lonInfAOI, lonSupAOI, latMedAOI] = findMinMax(pontos);
    
    mapaAIS.setView([latMedAOI, (lonInfAOI + lonSupAOI)/2], 6);
    AISplotPanel();
  }

  function enableTrajectoryPanel(){
   
    var btn = document.getElementById("listBoxTrajectories");
    btn.disabled = false;
    btn = document.getElementById("btnShow");
    btn.disabled = false;
    btn = document.getElementById("btnPrevious");
    btn.disabled = false;
    btn = document.getElementById("btnNext");
    btn.disabled = false;


    loadExpertFile();//novo 20Fev23


  }
  function classificationWindow(){
   
    var btn = document.getElementById("classificationPanel");
    btn.disabled = false;
    btn = document.getElementById("btnFinish");
    btn.disabled = false;
    
    $("#aisPlotPanel").removeClass("visible");
    $("#aisPlotPanel").addClass("not-visible");
    
    $("#AISpointGridPanel").removeClass("not-visible"); //novo 22jan
    $("#AISpointGridPanel").addClass("visible");

    $("#windRosePanel").removeClass("not-visible");
    $("#windRosePanel").addClass("visible");
        
    exibeWindRose();
    
  }
  function applyClustering(){
    
    var len = aisAOI_ArrayFiltered.length;
    if (len > 0){
      //mapa.removeLayer(markersLayerGroup); //novo
      //mapa.removeLayer(cellsLayerGroup);
      
      //flagGridCreation = false;
      for (var i = 0; i < len; i++) {
        
          var circle = L.circle([aisAOI_ArrayFiltered[i][2], aisAOI_ArrayFiltered[i][3]], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 50
          }).addTo(mapa);
        
      }  
      enableTrajectoryPanel();
      
      loadSelectBoxTrajectories(totalTraj);//(trajetoriaArray); // or .apply(this, trajetoriaArray)

    } else {
      alert("Botao apply - arquivo selecionado não possui dados de AIS no Grid/AOI selecionada");
    } 
  }

  function showTrajectory(){
    ///////// novo 26fev23
    var listBoxTraj = document.getElementById("listBoxTrajectories");
    idTrajetory = listBoxTraj.value;
    //var count_idTrajetory = 1; //concluir contagem
    len = aisAOI_ArrayFiltered.length;

    while (aisAOI_trajSelected.length) { //remove all the elements inside the array
      aisAOI_trajSelected.pop(); 
    }
    
    for (index=0; index < len; index++){

      //if (count_idTrajetory <= idTrajetory){
        if (idTrajetory == aisAOI_ArrayFiltered[index][20]){
          aisAOI_trajSelected.push(aisAOI_ArrayFiltered[index]);
        }

      //}
    }
    console.log("tamanho do aisAOI-trajSelected = ", aisAOI_trajSelected.length);
    console.log("aisAOI_trajSelected conteudo = ", aisAOI_trajSelected);
    plotSelectedTrajectory();

    //////
    classificationWindow();
    trajectoryPointIndex = 0
    drawGridCell(trajectoryPointIndex); // show the first AIS point of the trajectory
  }
  function plotSelectedTrajectory(){

    var len = aisAOI_trajSelected.length;
    if (len > 0){
      
      mapa.removeLayer(trajectoryLayerGroup); //novo
      trajectoryLayerGroup.clearLayers();
      mapa.removeLayer(displayedPointsLayerGroup); //novo
      displayedPointsLayerGroup.clearLayers();

            
      for (var i = 0; i < len; i++) {
        
          var circle = L.circle([aisAOI_trajSelected[i][2], aisAOI_trajSelected[i][3]], {
            color: 'yellow',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 50
          }).addTo(trajectoryLayerGroup)  //(mapa);
        
      }  
      mapa.addLayer(trajectoryLayerGroup); // novo 26fev
    }
  }
  
  function drawGridCell(index){
    
    mapa.removeLayer(polygonCell); // teste
    
    var lat  = aisAOI_trajSelected[index][2];
    var long = aisAOI_trajSelected[index][3];
    var circle = L.circle([lat, long], {color: 'blue', fillColor: '#f03', fillOpacity: 0.5, radius: 50
          }).addTo(displayedPointsLayerGroup); // alterado 26fev
    mapa.addLayer(displayedPointsLayerGroup); // novo 26fev
    vertices = calcVerticesCell(lat, long, latInfGrid, lonInfGrid, larguraCelula, alturaCelula); //novo teste
    polygonCell = L.polygon(vertices, {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", 			"noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 1}
                  ).addTo(mapa);

    var textFieldSpeed = $('#inputTxtSpeed');
    textFieldSpeed.disabled = false;
    textFieldSpeed.val(aisAOI_trajSelected[index][4]);
    var bg = document.getElementById("inputTxtSpeed");
    bg.style.color = "green";
    
    var cardinalLetter = "SW";
    
    var textFieldCourse = $('#inputTxtCourse');
    textFieldCourse.disabled = false;
    textFieldCourse.val(aisAOI_trajSelected[index][5] + " " + cardinalLetter);
    console.log("MMSI = ", aisAOI_trajSelected[index][0], " Course = ", aisAOI_trajSelected[index][5], " Heading = ", aisAOI_trajSelected[index][6])
  }

  function btnPrevious(){
    if (trajectoryPointIndex > 0){
      trajectoryPointIndex = trajectoryPointIndex - 1;
      drawGridCell(trajectoryPointIndex);
    }
  }

  function btnNext(){
    if (trajectoryPointIndex < aisAOI_trajSelected.length -1){
      trajectoryPointIndex = trajectoryPointIndex + 1;
      //displayedPointsLayerGroup.removeLayer(circle); nao testado
      drawGridCell(trajectoryPointIndex);
    } 
  }
  function selectDatasetFile(){
    $.ajax({
            url: "{{ url_for('selectDatasetFile') }}",
            type: "GET",
            dataType: 'json',
            success: openDatasetFile,
            error: function(){
              alert("error execution selection AIS File");
            }
    });
  }

  function openDatasetFile(retorno){
    //alert("funcionou o get");
    console.log(retorno);
    //ret = JSON.parse(retorno);
    
    var textField = $('#inputDataSetsFileName');
    textField.disabled = false;
    textField.val(retorno);
    pathDatasetFile = retorno; // novo
    var btn = document.getElementById("btnLoadDataset");
    btn.disabled = false;
  }


  function loadDatasetFile(){
    // if ....
    var btn = document.getElementById("clustering");
    btn.disabled = false;
    
    btn = document.getElementById("btnApply");
    btn.disabled = false;
  }

  function downloadClassificationFile(){
    $.ajax({
            url: "{{ url_for('downloadClassification') }}",
            type: "GET",
            //dataType: 'json',
            success: function(retorno){ 
              alert("Download finished");
            },
            error: function(){
              alert("error execution downloadClassification in the back-end");
            }
    });

  }
  function loadSelectBoxTrajectories(total_traj) {
    var listBoxTraj = document.getElementById("listBoxTrajectories");
    //var len_Traj_Array = trajArray.length;
    
    for  (var k = 1; k <= total_traj; k++){ 
        var option = document.createElement("option");
        option.text = k;
        console.log("option text = ", option.text);
        listBoxTraj.add(option);
    }
  }


</script>

</body>
</html>
